<div class="card card-default" id="card_contacts">
  <ul class="list-group pull-down" id="contact-list">
    <li class="list-group-item">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
          <span class="fa fa-mobile fa-fw text-success float-right pulse"></span>
          <label class="name lead">{{entry.name}}</label>
          <br>
          <span class="fa fa-mobile fa-fw text-success"></span>
          <span class="text-muted">{{entry.phoneNumber}}</span>
        </div>
      </div>
    </li>
  </ul>
</div>
